<div class="page">
  <h1>Credit cards</h1>
  <div class="list">
    <div class="list-header">
      <div class="text">Cardholder</div>
      <div class="number-text">Card number</div>
      <div class="issuer-text">Card issuer</div>
    </div>
    <div class="seperator"></div>
    <div>
      <a *ngFor="let creditcard of creditcards$ |async; let i = index" class="card-item"
        [routerLink]="['../creditcards', i]" [state]="creditcard">
        <p class="name-column">{{creditcard.cardholder_name}}</p>
        <p class="number-column">{{creditcard.card_number}} </p>
        <p class="issuer-column">{{creditcard.issuer}}</p>
      </a>
    </div>

  </div>
</div>
