.listbox {
    display: flex;
    padding: 0.8em 0.7em 0 0.7em;
    // line-height: 1em;
    // position: relative;
    // left: -1px;
    // top: -4px;
    width: fit-content;
    color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 4px;
    background-color: #b0cece;
    font-size: small;
}
.delete {
    width: 1440px;
    height: 1024px;
    background-color: #fdfdfd;
}
.deleteBtn {
    width: 28px;
    height: 117px;
    margin: 0 8px 0 16px;
    border-radius: 14px;
    background-color: #b0cece;
}
.deleteText {
    font-family: Lato;
    font-size: 12px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
}
