<h1>Transaction List</h1>

<div class="overview-header" fxLayoutAlign="space-between center">
</div>

<div class="overview-header">
    <div fxFlex="">
        <h4>Names to search by </h4>
        <div *ngFor="let card of creditCards$ | async">
            {{card.cardholder_name}}
        </div>
    </div>
    <div fxFlex="50">
        <!-- Filters: F6.1.4 Transactions must be filtered based on credit_card -->
        <div class="form-group">
            <label for="search-text">Search Text </label>
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
                [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
        </div>
        <div class="listbox" fxLayout="row" *ngFor="let transaction of
            transactions$ | async| appFilter: searchText">
            <div class="test">
                <div>
                    <span>
                        Name: {{transaction.credit_card.cardholder_name}}
                    </span>
                </div>
                <div>
                    <span>
                        Amount: {{ transaction.amount}} {{transaction.currency}}
                    </span>
                </div>
                <div>
                    <span>
                        Comment: {{transaction.comment}}
                    </span>
                </div>
                <div>
                    <span>
                        Date: {{transaction.date}}
                    </span>
                </div>
            </div>

            <div class="delete-header">
                <button class="deleteBtn" (click)="OnDelete(transaction)">
                    <span class="deleteText">Delete</span>
                </button>
            </div>

        </div>

    </div>

    <div fxFlex="50">
        <!-- Add Transaction Button -->
        <app-transaction-add></app-transaction-add>
    </div>
</div>